.wrapperCustomDialog{
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(129, 129, 129, 0.4);
    z-index: 1000;
}

.dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
}

.dialog-content {
    text-align: center;
}

.dialog button {
    margin: 10px;
}