.alert {
    display: none; /* 初期状態で非表示 */
    padding: 20px;
    background-color: #f44336;
    color: white;
    margin-bottom: 15px;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    opacity: 1;
    transition: opacity 1s ease-out;
    /* transition: color 1s ease-out; */
}

.fade-out {
    opacity: 0;
    /* color: blue; */
}